# gps 데이터 ignore (데이터셋 푸시 안되도록)
TL_gps_data/
VL_gps_data/

# 원본 데이터
TL_csv
VL_csv

# MAC os default file
.DS_Store

# image file
# *.png

# pycache
__pycache__/

# codex
AGENTS.md

# 환경변수
.env

# Catboost
ML/catboost_info/
artifacts/

# vscode
.vscode/

# 산출물
ML/outputs/**

# allow README images
!preprocessing/
!preprocessing/img/
!preprocessing/img/*.png